/** this is a straight up copy of style.css with only this changed:
#image img {
    max-width:90%;
}   
it's at the bottom (I know janky right?) 
**/ 

body {
    /* background: #303030; */
    background: black;
    font-family:font-family: Verdana, Arial, Helvetica, sans-serif;
}
A:link {text-decoration: none}
A:visited {text-decoration: none}
A:active {text-decoration: none}    
A:hover {text-decoration: underline;}

#date {
    margin: 20px;
}
#msg {
    color:green;
}
#header h1 {
    color:#505050;
    font-size: small;
    text-align:center;
    width: 100%;
}
#header h1 a{
    color:#505050;
}
#nav {
    width: 75%;
    margin: -30px auto 0px auto;
    padding: 5px;
    
}
#nav li {
    display:inline;
    list-style-type:none
}
#prev a, #next a, #home a {
    color:white;
}

#prev {
    float:left;
    text-align:left;
}
#next {
    float:right;
    text-align:right;
}

#image {
    clear:both;
    padding: 0;
    margin: 40px 0px 0px 0px;
    text-align:center;
}
#image img {
    max-width:70%;
    width:90%;
    display: block;   
    margin-left: auto;   
    margin-right: auto;
    margin-bottom: 20px;
}
#content, #credit, #footer {
    text-align: center;
    background: white;
}    
#content {
    background: white;
    font-size:120%;
	clear: left;
	padding: 20px;
}
#image img {
    border: 1px solid #505050;
}
#debug {
    display:none;
}
#caption {
    padding: 0px 10%;
    text-align:left;
}

#footer, #footer div{
    margin: 30px 0px;
    text-align: center;
}    
.elsewhere > a > img {
    border-style: none;
}

/** ipad only **/
#image img {
    max-width:90%;
}    
