.center.navbar .nav,
.center.navbar .nav > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    *zoom:1; /* hasLayout ie7 trigger */
    vertical-align: top;
}

.center .navbar-inner {
    text-align:center;
}
 .navbar-inner .container {
    text-align:center;
}

body {
    /* background: #303030; */
    background: black;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    margin:0;
    padding:0;
}
html {
    margin:0;
    padding:0;
}
A:link {text-decoration: none}
A:visited {text-decoration: none}
A:active {text-decoration: none}    
A:hover {text-decoration: underline;}



#share, #date, #title, #more_info, #like {
    text-align:center;
}

#like {
}
ul#like {        
    overflow:hidden;
    margin:0; padding:0;
    margin: 0 auto;   
    margin-left:37%;
    margin-top:10px;
    white-space:nowrap;
    max-width:400px;
}
ul#like li {
    margin:0; padding:0;
    margin:0px 0px;
    width:8em; 
    list-style-type:none;
    display:inline;
}
#like .gplus {

}
#like .gplus #button {

}

#like .pin-it-button {
    position:relative;
    top:-7px;
}
#like .pin-it-button img {
    height:26px;
    border:0;
    margin-right:35px;
}
#like .fb_like {
    position:relative;
    top:-3px;
}

      
 
#msg {
    color:green;
}
#header h1, #header h2 {
    margin:0; padding:0;
    color:#E8E8E8;
    font-size: 180%;
    font-weight:normal;
    text-align:center;
    width: 100%;
    white-space: nowrap;
}
#header h1 a, #header h2{
    color:#E8E8E8;
}
#header h2 {
    font-size:110%;
    margin-top:-10px;
    margin-bottom:-30px;
}
#header h1 a:link {text-decoration: none}
#header h1 a:visited {text-decoration: none}
#header h1 a:active {text-decoration: none}    
#header h1 a:hover {color:gray;}

ul#nav {
    margin:0; padding:0;
    margin:0px auto;
    text-align:center;
    position: relative;
    top:-30px;
    max-width:500px;
}
#nav li {
    margin:0; padding:0;
    list-style-type:none;
    width:5em;
}
li#prev {
    float:left;
}
li#next {
    float:right;
}


#image {
    display:block;
    clear:both;
    padding: 0;
    margin: 30px 10px;
    text-align:center;
}
#image img{
    max-height:80%;
    width: auto;
    border: 1px solid #505050;
}
@-moz-document url-prefix() {
    #image img  { max-height:500px; }
}
#content {
    font-size:110%;
    background-color: white;
    background-image:url('http://media.planetaryrings.com/fadey.jpg');
    background-repeat:repeat-x;
    padding-top:15px;
    padding: 15px 10%;
}
#error_page {
    margin:0 0 -50px 0;
    padding:10px 20px;
}
#credit, #footer, #error_page {
    text-align: center;
    background: white;
}    
#footer {
    margin: 0px;
    padding: 10px;
}
#footer div {
    padding: 5px;
}    
#debug {
    display:none;
}
#caption {
    padding: 0px 10%;
    text-align:left;
}

.elsewhere > a > img {
    border-style: none;
}


/* Landscape phones and down */
@media (max-width: 480px) { 
    ul#like {    
        position:relative;
        right:25px;
    }
    ul#like li {
        margin:-5px;
    }


}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 

    ul#like {        
        margin-left:20%;
    }

}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 

    ul#like {        
        margin-left:30%;
    }

 }
 
/* Large desktop */
@media (min-width: 1200px) {  }
